@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-darkGray font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-primary;
  }
}

@layer components {
  .btn-primary {
    @apply bg-accent text-white px-6 py-3 rounded-md font-medium transition-all hover:bg-accent-dark hover:shadow-lg focus:ring-2 focus:ring-accent focus:outline-none;
  }

  .btn-outline {
    @apply border-2 border-primary text-primary px-6 py-3 rounded-md font-medium transition-all hover:bg-primary hover:text-white focus:ring-2 focus:ring-primary focus:outline-none;
  }
}